.logo {
	display: flex;
	align-items: center;
	gap: rem(10);
	color: $color-primary;

	.icon {
		width: rem(40);
		height: rem(40);
	}
	
	.label {
		font-size: rem(26);
		text-transform: uppercase;
		font-weight: 500;
		white-space: nowrap;

		@media (max-width: em($ms)) {
			display: none;
		}
	}
}

