body {
	font-size: rem(16);
	font-weight: 500;
	line-height: prc(21, 16);
}

a {
	transition: all 0.3s ease 0s;
	color: $color-link;
	@media (any-hover: hover) {
		&:hover {
			color: $color-link-hover;
		}
	}
}

.h1,
h1 a,
h1 {
	font-weight: 500;
	font-size: rem(40);
	line-height: prc(42, 40);
	color: $color-titles;
}
.h2,
h2 a,
h2 {
	font-weight: 500;
	font-size: rem(36);
	line-height: prc(42, 36);
	color: $color-titles;
}
.h3,
h3 a,
h3 {
	font-size: rem(28);
	line-height: prc(33, 28);
	color: $color-titles;
}
.h4,
h4 a,
h4 {
	font-size: rem(21);
	line-height: prc(24, 21);
	color: $color-titles;
}
.h5,
h5 a,
h5 {
	font-size: rem(16);
	line-height: prc(21, 16);
	color: $color-titles;
}
