.header {
	background: #fff;
	border-bottom: rem(1) solid #eeeeee;
	box-shadow: 0px 0px 10px 4px #ebebeb;
}

.body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(30);
}