@import '../../../assets/styles/abstracts/variables.scss';
@import '../../../assets/styles/abstracts/functions.scss';

.container {
	max-width: rem($maxWidthContainer);
	padding: 0px px($containerPadding);
	margin: 0 auto;
}