$color-error:		#b81111;
$color-warning:	#ffc107;
$color-success:	#198754;
$color-focus:		#26B9FF;
$color-primary-light: #908af7;
$color-primary: #4f46e5;
$color-primary-dark: #271dd7;
$color-body-background: #f8f8f8;
$color-font: #000000;
$color-link: #000000;
$color-link-hover: #271dd7;
$color-titles: #000000;

$containerWidth: 800px;
$containerPadding: 15px;
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: $containerWidth + ($containerPadding * 2);

$maxSize: $maxWidthContainer + 12px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$font-size-base: 16px;
$fontFamily: "OpenSans";